#User Specific
*.userprefs
*.usertasks
*.csproj.user
*.suo
*.cache
*~
*.swp
*.userprefs
*.pidb

#Mono Project Files
*.pidb
*.resources
test-results/
TestResults

#Compilation results
*/bin
obj
Obj
NyaWatch.Windows/build/TestResult.xml
